
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* outline: 1px solid blue; */
}

/* *:hover{
   outline: 2px solid red;
} */

body {
   width: 100%;
   font-family: "Open Sans", sans-serif;
   font-weight: 400;
   font-size: 1rem;
   line-height: 1.7;
}

/* #partners {
   padding-top: 16vh;
}
#top {
   padding-top: 16vh;
   margin-top: -16vh;
}
#training {
   padding-top: 10vh;
   padding-bottom: 5vh;
}
#software {
   padding-top: 16vh;
   margin-top: -16vh;
}
#concept {
   padding-top: 16vh;
   margin-top: -16vh;
}
#services {
   padding-top: 16vh;
   margin-top: -16vh;
}
#rescue {
   padding-top: 16vh;
   margin-top: -16vh;
}
#contact {
   padding-top: 16vh;
   margin-top: -16vh;
} */

html {
   scroll-behavior: smooth;
}

.carousel-inner-top {
   background-color: black;
}
.carousel-item-top {
   color: white;
   position: relative;
   height: 75vh;
   background: linear-gradient(
      to right,
      rgba(0, 94, 131, 0.7),
      rgba(255, 196, 0, 0.7)
   );
}

.carousel.carousel-fade .carousel-item-top {
   display: block;
   opacity: 0;
   transition: opacity ease-out 2s;
}

.carousel.carousel-fade .carousel-item-top.active {
   opacity: 1 !important;
}

.overlay-image {
   position: absolute;
   background-position: center;
   background-size: cover;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   opacity: 0.25;
}

.heading-primary {
   font-size: 3.5rem;
   font-weight: 300;
   color: rgb(254, 254, 254);
   text-align:center;
}

.heading-animation {
   font-size: 4rem;
   font-weight: 300;
   color: rgb(254, 254, 254);
   animation-name: headerUp;
   animation-duration: 2s;
}

.heading-secondary {
   font-weight: 400;
   font-size: 2.5rem;
}

.description-title {
   font-weight: 200;
   font-size: 2rem;
}

.description-text {
   font-weight: 100;
   font-size: 1.1rem;
   line-height: 2;
}

.bullets {
   font-weight: 200;
   font-size: 1.5rem;
   font-style: italic;
}

.card {
   margin: 5rem;
}

.maximum-width-400 {
   max-width: 400px;
}

.maximum-width-800 {
   max-width: 800px;
}

.desaturate {
   filter: grayscale(100%);
}

.card-animation:hover {
   transition: ease-in-out 0.2s;
   opacity: 0.9;
   transform: scale(1.02);
}

.card-animation {
   transition: ease-in-out 0.2s;
   opacity: 1;
   transform: scale(1);
}

.fade-up {
   animation-name: headerUp;
   animation-duration: 2s;
}

@keyframes headerUp {
   0% {
      opacity: 0;
      transform: translateY(3rem);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

.vertical-align {
   display: flex;
   align-items: center;
   align-content: center;
}

.above {
   -webkit-box-shadow: 0px -1rem 0.9rem rgba(40, 40, 40, 0.2);
   -moz-box-shadow: 0px -1rem 0.9rem rgba(40, 40, 40, 0.2);
   box-shadow: 0px -1rem 0.9rem rgba(40, 40, 40, 0.2);
}

.below {
   -webkit-box-shadow: 0px 0.8rem 1rem rgba(40, 40, 40, 0.4);
   -moz-box-shadow: 0px 0.8rem 1rem rgba(40, 40, 40, 0.4);
   box-shadow: 0px 0.8rem 1rem rgba(40, 40, 40, 0.4);
}

.both {
   -webkit-box-shadow: 0px 0rem 1.5rem rgba(40, 40, 40, 0.4);
   -moz-box-shadow: 0px 0rem 1.5rem rgba(40, 40, 40, 0.4);
   box-shadow: 0px 0rem 1.5rem rgba(40, 40, 40, 0.4);
}

.is-grey {
   background-color: #d8e3e6;
   z-index: -1;
}


.nav-img {
   max-height: 5vh;
   margin: 0.6em;
   padding-left: 2vw;
}

.title-box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 15%;
   color: rgb(80, 80, 80);
   background: #d8e3e6;
   height: 150px;
   width: 70%;
   border-radius: 0 12px 12px 0;
   -webkit-box-shadow: 0px 0.8rem 1rem rgba(40, 40, 40, 0.4);
   -moz-box-shadow: 0px 0.8rem 1rem rgba(40, 40, 40, 0.4);
   box-shadow: 0px 0.8rem 1rem rgba(40, 40, 40, 0.4);
}

.title-box-reversed {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 10%;
   color: rgb(80, 80, 80);
   background: #d8e3e6;
   height: 150px;
   width: 70%;
   border-radius: 12px 0 0 12px;
   -webkit-box-shadow: 0px 0.8rem 1rem rgba(40, 40, 40, 0.4);
   -moz-box-shadow: 0px 0.8rem 1rem rgba(40, 40, 40, 0.4);
   box-shadow: 0px 0.8rem 1rem rgba(40, 40, 40, 0.4);
}

/* .title-box h2 {
   font-size: 2.5rem;
   margin: 0;
   padding: 0;
} */

/* .title-box-reversed h2 {
   font-size: 2.5rem;
   margin: 0;
   padding: 0;
} */

.title-box p {
   color: rgb(200, 144, 80);
   /* margin: 10px 0 0 0; */
   /* padding: 0; */
   /* font-size: 1.4rem; */
}

.title-box-reversed p {
   color: rgb(200, 144, 80);
   /* margin: 10px 0 0 0; */
   /* padding: 0; */
   /* font-size: 1.4rem; */
}

.recent-title {
   font-size: 4rem;
   color:white;
}
.recent-description {
   font-size: 2.5rem;
   color:white;
}
.recent-background {
   background-color:black;
   opacity:0.65;
   position:absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
}

@media (max-width: 768px) {
   .description-text {
      font-size: 1.1rem;
   }

   .heading-primary {
      font-size: 2.5rem;
   }
   .heading-animation {
      font-size: 2.5rem;
   }
}

